[Desktop Entry]
Name=SSHPad
Comment=SSH connection manager
Exec=sshpad
Icon=sshpad
Terminal=false
Type=Application
Categories=Network;RemoteAccess;GTK;
Keywords=ssh;tunnel;connection;
StartupWMClass=io.github.sshpad
